.post {
  width: 100%;
  border: 2px solid #3d3e3d;
  padding: 15px;
  position: relative;
  box-sizing: border-box;
}

.post h3 {
  border-bottom: 2px solid #fc4d2a;
}

.post-status-Bar {
  position: absolute;
  bottom: 0;
}

.post ul li {
  list-style-type: none;
  display: inline-block;
  padding: 0;
  margin: 0;
}

.post ul {
  padding: 0;
  margin: 0;
}
